.main-banner {
    box-shadow: inset 0 0 0 2000px rgba(14, 24, 62, 0.78);
    width: 100%;
    background-size: cover !important;
}

@media (max-width: 767px) {
    .main-banner {
        height: 50vh;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {

    .main-banner {

        height: 50vh;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
        }

    }
}