$color: #1a3059;

.banner {

    h2 {
        font-weight: bold;
        color: $color;
    }

    h1 {
        font-weight: bold;
        font-size: 60px;
        color: $color;
    }

    .btn-subscribe {

        background: #1A3059;

        &:hover {

            background: #1A3059;
        }
    }
}

@media (max-width: 767px) {

    .banner h1 {
        font-size: 44px;
    }
}

@media (max-width: 480px) {

    .banner h1 {
        font-size: 30px;
    }
}