.heading-bg {
    background: #F9AD2F;
    padding: 3px 5px;
    position: relative;
    display: inline-block;
}

@media (max-width: 767px) {

    .main-banner {

        height: 50vh;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px) {

    .main-banner {
        height: 50vh;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        h1 {

            font-size: 40px;
        }
    }
}