.benefits {

    h1 {

        font-size: 45px;
        font-weight: 700;
        color: #1A3059;
    }

    .sw-methods-box {
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 6px;
        padding-right: 6px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    .sw-heading {
        font-size: 14px;
        color: #3c6382;
        font-weight: bold;
    }
}