.vertical-slider-section {

    background: url(../../../../assets/images/vertical-slider/vertical.jpg);
    padding-top: 20px;
    background-size: cover;

    .slider-wrapper {
        font-size: 20px;
        color: #ffffff;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        text-transform: capitalize;
        display: flex;

        .slider {
            height: 50px;
            overflow: hidden;

            div {
                height: 50px;
                color: #162E55;
                font-weight: 600;
                font-family: 'Montserrat', sans-serif;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 50px;
                box-sizing: border-box;
            }
        }
    }

    .slider-text-1 {
        animation: slide 5s linear infinite;
    }

    button {
        border-radius: 5px;
        background: #162E55;
        border-color: #162E55;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #fff;

        &:hover {

            background: #000;
            border-color: #000;
        }
    }
}

@keyframes slide {
    0% {
        margin-top: -300px;
    }

    5% {
        /* For stopping effect */
        margin-top: -200px;
    }

    33% {
        margin-top: -200px;
    }

    38% {
        /* For stopping effect */
        margin-top: -100px;
    }

    66% {
        margin-top: -100px;
    }

    71% {
        /* For stopping effect */
        margin-top: 0px;
    }

    100% {
        margin-top: 0px;
    }
}

@media (max-width: 767px) {

    .vertical-slider-section {
        padding-bottom: 20px;

        .slider-wrapper {
            font-size: 18px;
        }
    }

}

@media (max-width: 480px) {

    .vertical-slider-section {

        padding-bottom: 20px;

        .slider-wrapper {
            font-size: 18px;
            color: #ffffff;
            font-weight: 600;
            font-family: 'Montserrat', sans-serif;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            text-align: center;

            .slider {

                div {
                    height: 50px;
                    color: #162E55;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    padding-left: 0px;
                    padding-right: 10px;
                    margin-bottom: 50px;
                    box-sizing: border-box;
                }
            }
        }

        button {

            margin: 0 auto;
            display: table;
        }
    }
}