.who-we-are-about {

    .countBox {
        background: #162E55;
        position: relative;
        border: 1px solid #e9f0ff;
        color: #f9f9f9;

        h5 {

            font-weight: bold;
            color: #ffffff;
        }

        i {
            font-size: 18px;
            margin-top: 25px;
        }

        p {

            color: #ffffff;
        }
    }

    .countBox {
        border-radius: 10px;
        padding: 34px;
        margin-bottom: 28px;

        .counting {
            font-size: 3.5rem;
            color: #162E55;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }
    }

}

@media (max-width: 767px) {

    .who-we-are-about {
        .countBox {

            border-radius: 10px;
            padding: 25px;
            margin-bottom: 10px;

            h5 {
                margin-top: 10px;
            }
        }
    }
}