.custom-heading-title {

    h2 {
        font-weight: bold;
        font-size: 36px;
    }

    .fist-word {

        color: #162E55;
    }

    .last-word {

        color: #FF9900;
    }
}

@media (max-width: 480px) {

    .custom-heading-title {

        h2 {
            font-weight: bold;
            font-size: 30px !important;
        }
    }
}