.focused-container {
    img {
        height: 40px;
    }
}

@media (max-width: 480px) {

    .focused-container {
        img {
            margin: 0 auto;
            display: table;
        }

        h5 {
            text-align: center;
            font-size: 12px;
        }
    }
}