.text-slider {
    font-size: 30px;
    color: #F9AD2F;
}

.text-navy-blue {
    color: #1A3059;
}

@media (max-width: 480px) {

    .text-slider {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}